body {
    background-image: url(./assets/img/Diapositiva2.JPG);
}

.ajs-header {
    background: #44403c !important;
    color: white !important;
}


.inactive {
    display: none;
}

.visibility {
    visibility: visible;
}
