body {
    background-image: url(./assets/img/Presentación2/Diapositiva1.JPG);
    background-repeat: repeat
}

.header-color {
    background: rgb(26, 66, 129);
    background: linear-gradient(159deg, rgba(26, 66, 129, 1) 0%, rgba(61, 117, 171, 1) 51%, rgba(88, 156, 203, 1) 100%);
}

.ajs-header {
    background: #44403c !important;
    color: white !important;
}


.inactive {
    display: none;
}

.visibility {
    visibility: visible;
}

.overflow-x-auto {
    overflow: hidden !important;
}

.dataTables_info {
    display: none !important;
}

.pagination {
    justify-content: start !important;
}
